@model List<SIGEM_TAEX.Models.Personal_OBUN>

@{
    ViewBag.Title = "Index";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">TAEX</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <img src="~/recursos/imagen/home.png" width="20" height="20" style="margin-right:10px;">
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Personal OBUN</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lista</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="~/PersonalObun/Agregar" class="btn btn-sm btn-neutral">Nuevo Registro</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Lista de Personal de OBUN</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table id="DataTablesLanguage" class="table align-items-center table-flush">
                        <thead class="thead-light" style="margin-top:10px;">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">ID</th>
                                <th scope="col" class="sort" data-sort="budget">DNI</th>
                                <th scope="col" class="sort" data-sort="status">Nombres</th>
                                <th scope="col" class="sort" data-sort="status">Apellido Paterno</th>
                                <th scope="col" class="sort" data-sort="status">Apellido Materno</th>
                                <th scope="col" class="sort" data-sort="status">Celular</th>
                                <th scope="col" class="sort" data-sort="status">Correo</th>
                                <th scope="col" class="sort" data-sort="status">Direccion</th>
                                <th scope="col" class="sort" data-sort="status">Estado</th>

                                <th style="width : 300px">Acciones</th>

                            </tr>
                        </thead>

                        <tbody class="list">

                            @foreach (var m in Model)
                            {
                            <tr>

                                <th>@(m.ID_Personal)</th>
                                <th>@(m.DNI)</th>
                                <th>@(m.Nombres )</th>
                                <th>@(m.Apellido_Paterno )</th>
                                <th>@(m.Apellido_Materno )</th>
                                <th>@(m.Celular )</th>
                                <th>@(m.Correo )</th>
                                <th>@(m.Direccion )</th>
                                <th>@(m.Estado == "A" ? "Activo" : "Inactivo")</th>
                                <th>
                                    <a href="~/PersonalObun/Ver/@m.ID_Personal" class="btn btn-xs btn-warning">Detalles</a>
                                    <a href="~/PersonalObun/AgregarModificar/@m.ID_Personal" class="btn btn-xs btn-primary">Modificar</a>
                                    <a onclick="return confirm('Esta seguro que desea eliminabr el registro?...');"
                                       href="~/PersonalObun/Eliminar/@m.ID_Personal" class="btn btn-xs btn-danger">Eliminar</a>
                                </th>


                            </tr>
                            }

                        </tbody>

                    </table>
                    <br /><br />
                </div>
            </div>
        </div>

    </div>

    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 <a href="#" class="font-weight-bold ml-1" target="_blank">Taex - OBUN</a>
                </div>
            </div>
        </div>
    </footer>
</div>


