@model List<SIGEM_TAEX.Models.Horario>
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">
    Horario
    <a href="~/Horario/AgregarEditar/" class="btn btn-success float-lg-right">Nuevo Horario</a>
</h2>
<br />


@using (Html.BeginForm("Index", "Horario", FormMethod.Post,
    new { Criterio = "Frm-Buscar" }))
{
    <div class="text-left">
        @Html.Label("Buscar : ")
        @Html.TextBox("Criterio")
        <button type="submit" class="btn btn-info">Buscar</button>
    </div>
}

<table id="DataTablesLanguage" class="table align-items-center table-flush">
    <thead>
        <tr>
            <th style="width : 50px;"> ID</th>
            <th style="width : 150px;">Día</th>
            <th style="width : 100px;">Hora Inicio</th>
            <th style="width : 100px;">Hora Fin</th>

            <th style="width : 300px">Acciones</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var m in Model)
        {
        <tr>

            <th>@(m.ID_Horario)</th>
            <th>@(m.Dia)</th>
            <th>@(m.Hora )</th>
            <th>@(m.Hora_Fin )</th>

            <th>
                <a href="~/Horario/Ver/@m.ID_Horario" class="btn btn-xs btn-warning">Detalles</a>
                <a href="~/Horario/AgregarEditar/@m.ID_Horario" class="btn btn-xs btn-primary">Modificar</a>
                <a onclick="return confirm('Esta seguro que desea eliminabr el registro?...');"
                   href="~/Horario/Eliminar/@m.ID_Horario" class="btn btn-xs btn-danger">Eliminar</a>
            </th>


        </tr>
        }
    </tbody>
</table>

