@model List<SIGEM_TAEX.Models.Estudiante>
@{
    ViewBag.Title = "Index";
}

    <h2 class="page-header">
        Index
        <a href="~/Estudiante/AgregarEditar/" class="btn btn-success float-lg-right">Nuevo Registro</a>
        Estudiante

    </h2>

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">TAEX</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <img src="~/recursos/image/home.png" width="20" height="20" style="margin-right:10px;">
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Estudiante</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lista</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">Nuevo Registro</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Lista de Personal de OBUN</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table id="DataTablesLanguage" class="table align-items-center table-flush">

                        <thead>
                            <tr>
                                <th style="width : 50px;"> Id Estudiante</th>
                                <th style="width : 50px;"> Id Escuela</th>
                                <th style="width : 150px;">Tipo de identificacion</th>
                                <th style="width : 120px;">Numero de Identificacion</th>
                                <th style="width : 120px;">Nombres</th>
                                <th style="width : 70px;">Apellido Paterno</th>
                                <th style="width : 70px;">Apellido Materno</th>
                                <th style="width : 70px;">Fecha Nacimiento/th>
                                <th style="width : 70px;">Celular</th>
                                <th style="width : 70px;">Direccion</th>
                                <th style="width : 70px;">Correo</th>
                                <th style="width : 70px;">Sexo</th>
                                <th style="width : 70px;">Estado</th>


                                <th style="width : 250px">Acciones</th>

                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var m in Model)
                            {
                            <tr>
                                @*<th>@(m.usuario_id)</th>*@
                                <th>@(m.ID_Estudiante)</th>
                                <th>@(m.Escuela_Profesional.Facultad + ", " + m.Escuela_Profesional.Nombre_Escuela)</th>

                                <th>@(m.Tipo_Identificacion)</th>
                                <th>@(m.Numero_Identificacion)</th>
                                <th>@(m.Nombres)</th>
                                <th>@(m.Apellido_Paterno)</th>
                                <th>@(m.Apellido_Materno)</th>
                                <th>@(m.Fecha_Nacimiento)</th>
                                <th>@(m.Celular)</th>
                                <th>@(m.Dirección)</th>
                                <th>@(m.Correo)</th>
                                <th>@(m.Sexo)</th>
                                <th>@(m.Estado == "A" ? "Activo" : "Inactivo")</th>
                                <th>
                                    <a href="~/Estudiante/Ver/@m.ID_Estudiante" class="btn btn-xs btn-warning">Detalles</a>
                                    <a href="~/Estudiante/AgregarEditarModificar/@m.ID_Estudiante" class="btn btn-xs btn-primary">Modificar</a>
                                    <a onclick="return confirm('Esta seguro que desea eliminabr el registro?...');"
                                       href="~/Estudiante/Eliminar/@m.ID_Estudiante" class="btn btn-xs btn-danger">Eliminar</a>


                                </th>
                            </tr>
                            }
                        </tbody>



                    </table>

                    <br /><br />
                </div>
            </div>
        </div>

    </div>

    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 <a href="#" class="font-weight-bold ml-1" target="_blank">Taex - OBUN</a>
                </div>
            </div>
        </div>
    </footer>
</div>

