@model  SIGEM_TAEX.Models.Matricula
@{
    ViewBag.Title = (Model.ID_Matricula > 0 ? "Matricula de " + Model.Estudiante.Nombres + " " + Model.Estudiante.Apellido_Paterno + " " + Model.Estudiante.Apellido_Materno : "Nuevo Taller");
    List<SIGEM_TAEX.Models.Estudiante> docente = ViewBag.Docente;
    List<SIGEM_TAEX.Models.Taller> docente1 = ViewBag.Docente1;
    List<SIGEM_TAEX.Models.Periodo> docente2 = ViewBag.Docente2;
}

<h2>Agregar / Editar</h2>

<ol class="breadcrumb">
    <li><a href="~/Matricula/Index">Taller</a></li>
    <li> / </li>
    <li class="active">@(Model.ID_Matricula > 0 ?  Model.Estudiante.Nombres + " " + Model.Estudiante.Apellido_Paterno + " " + Model.Estudiante.Apellido_Materno : "Nuevo Taller")</li>
</ol>

@using (Html.BeginForm("Guardar", "Matricula", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ID_Matricula)

    <div class="card">
        <div class="card-header">Información de la categoria</div>

        <div class="card-body">

            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.ID_Matricula, new { @class = "form-control", disabled = true }) <!--no podrá ser editado-->
            </div>

            <div class="form-group">
                @Html.Label("Estudiante")
                <select name="ID_Estudiante" class="form-control">
                    <option @(Model.ID_Estudiante.Equals("") ? "selected" : "") value=""> --Seleccione-- </option>

                    @foreach (var d in docente)
                    {
                        <option @(Model.ID_Estudiante.Equals(d.ID_Estudiante) ? "selected" : "") value="@d.ID_Estudiante">
                            @d.Nombres, @d.Apellido_Paterno @d.Apellido_Materno
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                @Html.Label("Taller")
                <select name="ID_Taller" class="form-control">
                    <option @(Model.ID_Taller.Equals("") ? "selected" : "") value=""> --Seleccione-- </option>

                    @foreach (var d in docente1)
                    {
                        <option @(Model.ID_Taller.Equals(d.ID_Taller) ? "selected" : "") value="@d.ID_Taller">
                            @d.Nombre
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                @Html.Label("Periodo")
                <select name="ID_Periodo" class="form-control">
                    <option @(Model.ID_Periodo.Equals("") ? "selected" : "") value=""> --Seleccione-- </option>

                    @foreach (var d in docente2)
                    {
                        <option @(Model.ID_Periodo.Equals(d.ID_Periodo) ? "selected" : "") value="@d.ID_Periodo">
                            @d.Nombre_Periodo
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                @Html.Label("Fecha de Inscripcion")
                @Html.TextBoxFor(m => m.Fecha_Inscripcion, new { type = "date" })
                @Html.ValidationMessageFor(x => x.Fecha_Inscripcion, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Costo del Taller")
                @Html.TextBoxFor(x => x.Costo_Taller, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Costo_Taller, null, new { @class = "text-danger" })
            </div>


        </div>
    </div>

    <br />
    <div class="text-right">
        <button type="submit" name="submitButton" class="btn btn-primary" value="Guardar Datos"> Registrar Taller </button>


        <a href="~/Matricula" class="btn btn-danger"> Cancelar </a>
    </div>


}


