@model List<SIGEM_TAEX.Models.Matricula>

@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">
    Matricula
    <a href="~/Matricula/AgregarEditar/" class="btn btn-success float-lg-right">Nueva Matricular</a>
</h2>
<br />

@using (Html.BeginForm("Index", "Matricula", FormMethod.Post,
    new { Criterio = "Frm-Buscar" }))
{
    <div class="text-left">
        @Html.Label("Buscar : ")
        @Html.TextBox("Criterio")
        <button type="submit" class="btn btn-info">Buscar</button>
    </div>
}

<table id="DataTablesLanguage" class="table align-items-center table-flush">
    <thead>
        <tr>
            <th style="width : 50px;"> ID</th>
            <th style="width : 100px;">Nombre del Estudiante</th>
            <th style="width : 100px;">Nombre del Taller</th>
            <th style="width : 100px;">Periodor</th>
            <th style="width : 150px;">Fecha de Inscripcion</th>
            <th style="width : 100px;">Costo de Taller</th>

            <th style="width : 300px">Acciones</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var m in Model)
        {
            <tr>

                <th>@(m.ID_Matricula)</th>
                <th>@(m.Estudiante.Nombres +" " + m.Estudiante.Apellido_Paterno + " " +  m.Estudiante.Apellido_Materno)</th>
                <th>@(m.Taller.Nombre )</th>
                <th>@(m.Periodo.Nombre_Periodo)</th>
                <th>@(m.Fecha_Inscripcion )</th>
                <th>@(m.Costo_Taller )</th>

                <th>
                    <a href="~/Matricula/Ver/@m.ID_Matricula" class="btn btn-xs btn-warning">Detalles</a>
                    <a href="~/Matricula/AgregarEditar/@m.ID_Matricula" class="btn btn-xs btn-primary">Modificar</a>
                    <a onclick="return confirm('Esta seguro que desea eliminabr el registro?...');"
                       href="~/Matricula/Eliminar/@m.ID_Matricula" class="btn btn-xs btn-danger">Eliminar</a>
                </th>


            </tr>
        }
    </tbody>
</table>