@model SIGEM_TAEX.Models.Usuario

@{
    ViewBag.Title = "Ver";
}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">TAEX</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <img src="~/recursos/imagen/home.png" width="20" height="20" style="margin-right:10px;">
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Usuario</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="~/Usuario/Index">Lista</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Nuevo Registro</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            

            <div class="card card-body">
                <div class="card-header">Detalles del Taller</div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>Id Usuario</dt>
                        <dd>@Model.ID_Usuario</dd>

                        <dt>Personal OBUN</dt>
                        <dd>@(Model.Personal_OBUN.Nombres + " " + Model.Personal_OBUN.Apellido_Paterno + " " + Model.Personal_OBUN.Apellido_Materno )</dd>

                        <dt>Personal Docente</dt>
                        <dd>@(Model.Docente.Nombres + " " + Model.Docente.Apellido_Paterno + " " + Model.Docente.Apellido_Materno )</dd>

                        <dt>Estudiante</dt>
                        <dd>@(Model.Estudiante.Nombres + " " + Model.Estudiante.Apellido_Paterno + " " + Model.Estudiante.Apellido_Materno )</dd>

                        <dt>Nombre de Usuario</dt>
                        <dd>@Model.Nombre </dd>

                        <dt>Clave de Usuario</dt>
                        <dd>@Model.Clave </dd>

                        <dt>Nivel</dt>
                        <dd>@Model.Nivel </dd>

                        <dt>Avatar</dt>
                        <dd>@Model.Avatar </dd>

                        <dt>Estado</dt>
                        <dd>@(Model.Estado == "A" ? "Activo" : "Inactivo")</dd>

                    </dl>
                </div>
            </div>







        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 <a href="#" class="font-weight-bold ml-1" target="_blank">Taex - OBUN</a>
                </div>
            </div>
        </div>
    </footer>
</div>

